.water-graphic {
  background-image: url('https://i.imgur.com/OuaQYmj.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.darkoverlay {
  background-color: rgba(0, 0, 0, .5);
  background-blend-mode: darken;
}

.top-padding {
  padding-top: 5vh;
}

.bottom-padding {
  padding-bottom: 5vh;
}